{% extends 'base.html' %}
{% block header %}
    <h1>{{ kanji['symbol'] }}</h1>
{% endblock %}
{% block content %}
    <p>Number of strokes: {{ kanji['extra']['stroke_count'] }}</p>
    <p>Meanings: {{ kanji['extra']['meanings'] }}</p>
    <p>Various readings: {{ kanji['extra']['kun_readings'] }} or {{ kanji['extra']['on_readings'] }}</p>
    {% for tag in kanji['tags'] %}
    <button class="btn btn-outline-info" type="button">
        {{ loop.index }}
    </button>
    <div class="link">
        <form method="GET" action="{{ url_for('search') }}" >
            <p>{{ tag }}</p>
        </form>
        <a href="http://127.0.0.1:5000/app/?tag={{ tag }}">{{ tag }}</a>
        <form method="POST" action="{{ url_for('delete_tag', id=kanji['_id'], tag=tag) }}" >
            <input type="submit" value="Delete Me">
        </form>
    </div>
    {% endfor %}
{% endblock %}
{% block footer %}
    <div class="footer">
        <p>Add a tag</p>
        <form method="POST" action="{{ url_for('item', id=kanji['_id']) }}" >
            <p>
                <b><label for="tag">Tag</label></b>
                <input type="text" name="tag" required minlength="3"></input>
            </p>
            <p>
                <input type="submit" value="Add Me">
            </p>
        </form>
    </div>
    <form method="GET" action="{{ url_for('search') }}" >
        <input type="submit" class="btn btn-outline-primary" name="home" value="Go Home?">
    </form>
{% endblock %}