{% extends 'base.html' %}
{% block header %}
    <h1>{{ kanji['symbol'] }}</h1>
{% endblock %}
{% block content %}
    <p>Number of strokes: {{ kanji['extra']['stroke_count'] }}</p>
    <p>Meanings: {% for meaning in kanji['extra']['meanings'] %} {{ meaning }}, {% endfor %}</p>
    <p>Various readings: {% for reading in kanji['extra']['kun_readings'] %} {{ reading }} {% endfor %}</p>
    {% for tag in kanji['tags'] %}
    <div class="link">
        <form method="GET" action="{{ url_for('search') }}" >
            {{ loop.index }}
            <input type="submit" class="btn btn-outline-dark" value="{{ tag }}">
        </form>
    </div>
    {% endfor %}
{% endblock %}
{% block footer %}
    <div class="footer">
        <p>Add a tag</p>
        <form method="POST" action="{{ url_for('item', id=kanji['_id']) }}" >
            <p>
                <b><label for="tag">Tag</label></b>
                <input type="text" name="tag" required minlength="3"></input>
            </p>
            <p>
                <input type="submit" value="Add Me">
            </p>
        </form>
    </div>
    <form method="GET" action="{{ url_for('search') }}" >
        <input type="submit" class="btn btn-outline-primary" name="home" value="Go Home?">
    </form>
{% endblock %}