<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KanjiApp</title>
    <style>
        .header {
            padding: 50px;
            align-content: center;
            text-align: center;
        }
        .content {
            text-align: center;
            text-decoration: double;
        }
        .footer {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
            align-content: center;
            text-align: center;
        }
    </style>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="header">
        <h1>{{ kanji['symbol'] }}</h1>
    </div>
    <div class="content">
        <p>Here is the description</p>
        <p>{{ kanji['description'] }}</p>
        {% for tag in kanji['tags'] %}
        <div class="link">
            <p>{{ tag }}</p>
        </div>
        {% endfor %}
        <div class="footer">
            <p>Add a tag</p>
            <form method="POST" action="{{ url_for('insert') }}" >
                <p>
                    <b><label for="symbol">Symbol</label></b>
                    <input type="text" name="symbol" required maxlength="1"></input>
                </p>
                <p>
                    <b><label for="description">Description</label></b>
                    <input type="text" name="description" required maxlength="64"></input>
                </p>
                <p>
                    <input type="submit" value="Add Me">
                </p>
            </form>
        </div>
    </div>
</body>
</html>