{% extends 'search.html' %}
{% block content %}
    <p>Find a tag to filter by!</p>
    <p> 
        <form method="GET" action="{{ url_for('search') }}" >
            <input type="text" name="tag" value=""></input>
            <label>Tag contains:
            <input list="browsers" name="myBrowser" /></label>
            <datalist id="browsers">
                <option value="Chrome">
                <option value="Firefox">
                <option value="Internet Explorer">
                <option value="Opera">
                <option value="Safari">
                <option value="Microsoft Edge">
            </datalist>
            <input type="submit" value="Search">
        </form>
    </p>
    <table>
        {% for tag in tag_list %}
            <tr>
                <form method="GET" action="{{ url_for('search') }}" >
                    <button class="btn btn-outline-dark">
                        <td>{{ tag['name'] }}</td>
                        <td>{{ tag['author'] }}</td>
                        <td>{{ tag['description'] }}</td>
                        <td>{{ tag['count'] }}</td>
                    </button>
                </form>
            </tr>
        {% endfor %}
    </table>
{% endblock %}